body , html{
    width:100%;
    overflow: hidden;
    padding: 0;
    margin:0;
  }

  .label{
    font-size:14px;
    color: black;
    font-weight:600;
  }

  .inpEle{
    width:100%;
    outline:none;
   padding: 10px;
    border-radius:5px;
    border-style:solid;
    border-color:black;
    color:rgb(91, 88, 88);
    margin-top:6px;

  }

  .regHead{
    font-size:22px;
    color:black;
    text-align:center;
    font-weight:bold;
  }

  .inp-label{
    margin-bottom:10px;
  }

  .regButt{
    background-color:rgb(80, 88, 184);
    border:none;
    padding-top:10px;
    padding-bottom:10px;
    color:#ffffff;
    text-align:center;
    border-radius:6px;
    font-size:15px;
  }

  .regCon{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100vh;
  }

  .butCon{
    text-align:center;
  }

  .err{
    font-size:12px;
    color:red;
    font-weight:600;
  }